 <!-- Banner -->
 <div class="banner banner-second">
    <div class="banner-container ">
        <h1>Fashion Wear</h1>
        <h2>Somos Número Uno En Ropa de Alta Calidad</h2>
    </div>
</div>
<div class="container">
    <div class="columns">
        <div class="column is-half">
            <img src="assets/img/img-brand-1.jpg" alt="">
        </div>
        <div class="column is-half">
            <h3 class="has-text-weight-bold">PORQUE FASHION WEAR ES LA MEJOR PAGINA EN ROPA</h3>
            <p>Fashion Wear te facilita tu busqueda de ropa ,dividida y estipulada en orden para que busques de una manera mas simple 
                con asistencia las 24 horas del dia que te ayudaran en caso que lo necesites , contamos con personas expertas en el area laboral
                , nuestros envios son seguros por lo que no deberas de preocuparte por la llegada al momento de comprar el producto
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="columns">
        <div class="column is-half">
            <img src="assets/img/img-brand-3.jpg">
            <h3 class="has-text-weight-bold">COSTUREROS DE ALTA CALIDAD</h3>
            <p>Como marca propia contamos con producto de mejor calidad para el consumidor , por ello destacamos el servicio de calidad que otorgamos
                al gestionar tanto las mejoras marcas asi mismo como mejora y enfatizar en la nuestra , no lo dudes Fashion Wear es tu opcion
            </p>
        </div>
        <div class="column is-half">

            <img src="assets/img/img-brand-2.jpg">
            <h3 class="has-text-weight-bold">EN CUALQUIER LADO DEL MUNDO</h3>
            <p>Hacemos envio a cualquier parte del mundo , con envios rapidos ,seguros y confiables , contamos con certificados en calidad y en empredimiento , 
                asi que cuenta con nosotros que tu producto seria enviado de manera correcta y eficiente
            </p>
        </div>
    </div>
</div>