 <!-- Banner -->
 <div class="banner banner-cover">
    <div class="banner-container ">
        <h1 class="title-cover">FW</h1>
        <a class="btn btn-default">Comprar colección para Hombres</a>
    </div>
</div>

<!-- Barra de navegacion secundaria -->
<div class="container">
    <nav class="nav">
        <a class="nav-item  has-text-weight-semibold" [routerLink]="['/Inicio']">Popular</a>
        <a class="nav-item has-text-weight-semibold"  [routerLink]="['/novedades']">Novedades</a>
        <a class="nav-item active has-text-weight-semibold"  [routerLink]="['/vendidos']">mas vendidos</a>
        <a class="nav-item has-text-weight-semibold" [routerLink]="['/ofertas']">Ofertas</a>
        <a class="nav-item has-text-weight-semibold" [routerLink]="['/pronto']">Muy pronto</a>
    </nav>
</div>
<!-- Sección de fotografías -->
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-full-mobile">
            <div class="columns is-centered is-mobile is-multiline">
                <!-- 1 Sección de fotografías -->
                <div class="column is-half column-full">
                    <div class="card">
                        <span class="price">L 289.99</span>
                        <img src="assets/img/catalogohombre6.jpg" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Camisa Manga Larga
                                 L 289.99 </h4>
                            <p class="has-text-centered">Camisa manga larga clásica para hombre en movimiento.
                                100%
                                algodón.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="producto.html" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">L 247.50</span>
                        <img src="assets/img/catalogohombre5.jpg" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Chaqueta beidge  L 247.50 </h4>
                            <p class="has-text-centered">
                                Chaqueta casual clásica para hombre en movimiento.
                                                                100%
                                                                algodón.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="producto.html" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-full">
                    <div class="card">
                        <span class="price">L 365.95</span>
                        
                            <img src="assets/img/catalogohombre4.jpg" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Camisa manga larga blanca
                                 L 365.95 </h4>
                            <p class="has-text-centered">Camisa  para hombre en movimiento.
                                100%
                                algodón.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="producto.html" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda sección de fotografías -->
        <div class="column is-half is-full-mobile">
            <div class="columns is-mobile is-multiline">
                <div class="column is-full">
                    <div class="card">
                        <span class="price"> L 289.99</span>
                            <img src="assets/img/catalogohombre2.jpg" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Camiseta Negra  L 289.99 </h4>
                            <p class="has-text-centered">Ca,miseta para hombre en movimiento.
                                100%
                                algodón.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="producto.html" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">L 429.99</span>
                        <img src="assets/img/catalogohombre3.jpg" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Jogger  L 429.99 </h4>
                            <p class="has-text-centered">Jogger para hombre en movimiento.
                                100%
                                algodón.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="producto.html" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column column-full is-half">
                    <div class="card">
                        <span class="price">L 534.79</span>
                        <img src="assets/img/catalogohombre1.jpg" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Pantalon Jean L 534.79 </h4>
                            <p class="has-text-centered">Pantalon para hombre en movimiento.
                                100%
                                algodón.</p>
                            <div class="card-buttons">
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-shopping-cart"></i></a>
                                <a href="#" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="producto.html" class="btn btn--mini-rounded"><i
                                        class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-full">
<div class="columns is-centered is-multiline">
    <div class="column is-full">
        <div class="separator"></div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop column-half">
        <div class="card card-second">
            <img class="card-second-image" src="assets/img/lookbook-men.png" alt="">
            <div class="card-second-body --text-right">
                <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold"  [routerLink]="['/catalogohombre']">Catálogo para hombres</h1>
                <p class="has-text-right">Presione el boton para el ver el catalogo de ropa solamente de varon para que encuentre mas
                    tranquilamente lo que busca 
                </p>
                <div>
                    <a href="#" class="btn btn-default is-size-7" [routerLink]="['/catalogohombre']" >Ver ahora</a>
                </div>
              
                
                
            </div>
        </div>
    </div>
    <div class="column is-half-tablet is-one-third-desktop column-half">
        <div class="card card-second">
            <img class="card-second-image" src="assets/img/lookbook-women.png" alt="">
            <div class="card-second-body --text-right">
                <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold"[routerLink]="['/catalogomujer']" >Catálogo para mujeres</h1>
                <p class="has-text-right">Presione el boton para el ver el catalogo de ropa solamente de mujer para que encuentre mas
                    tranquilamente lo que busca 
                </p>
                <div>
                    <a href="#" class="btn btn-default is-size-7"[routerLink]="['/catalogomujer']" >Ver ahora</a>
                </div>
            </div>
        </div>

    </div>
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card card-second">
            <img class="card-second-image" src="assets/img/lookbook-you.png" alt="">
            <div class="card-second-body --text-right">
                <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold"[routerLink]="['/catalogoninios']" >Catálogo para niños</h1>
                <p class="has-text-right">Presione el boton para el ver el catalogo de ropa solamente de niño para que encuentre mas
                    tranquilamente lo que busca 
                </p>
                <div>
                    <a href="#" class="btn btn-default is-size-7" [routerLink]="['/catalogoninios']">Ver ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
