  <!-- Banner -->
  <div class="banner banner-second">
    <div class="banner-container ">
        <h1>Fashion Wear</h1>
        <h2>la numero uno en ropa</h2>
    </div>
</div>

<div class="container">
    <nav class="nav">
        <a class="nav-item --active" href="#">Lo último</a>
        <a class="nav-item" href="#">Más Gustado</a>
        <a class="nav-item" href="#">Más vendidos</a>
        <a class="nav-item" href="#">Más baratos</a>
        <a class="nav-item" href="#">Más caro</a>
    </nav>
</div>
<div class="container">
    <div class="columns is-mobile is-multiline">
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-1.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-2.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-3.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-4.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="columns is-mobile is-multiline">
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-5.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-6.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-7.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="column is-half-mobile is-one-quarter-desktop">
            <div class="card ">
                <span class="price"> <sup>REF</sup> M1</span>
                <img src="assets/img/item-1.png" alt="">
                <div class="card-simple-options">
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                    <a href="" class="btn btn--mini-rounded">
                        <i class="zmdi zmdi-info"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>